    
    
    <section class="footer">
        <div class="footer-content">
            <p>India Today @2023</p>
            <div class="footer-icons">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>
    </section>


    <!-- Scripts -->
    <script src="/js/script.js"></script>

    <!-- CDN example (jsDelivr) -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script>dayjs().format()</script>
    
</body>
</html>