<%- include("partials/header") -%>

<!-- Main News Section -->
<main class="main-news-section container">
    <section class="top-news-section container">
        <h2 class="top-news-section-name">Top Stories <span class="read-more-txt">Read More >></span><span class="date">12 may</span></h2>
        <section class="top-news-cont">
            <div class="top-news">
                <img src="images/ext.jpeg" alt="">
                <div class="content">
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, id.</h2>
                    <p>Lorem, ipsum dolor. Lorem ipsum dolor sit amet. Lorem, ipsum dolor. Lorem ipsum dolor sit amet. </p>
                    <p class="author">Lorem, ipsum dolor.</p>
                    <p class="time">Lorem, ipsum.</p>
                </div>
            </div>
            <div class="top-news-blocks">
                <h3>Lorem ipsum dolor sit amet consectetur.</h3>
                <p>Lorem, ipsum dolor.</p>
            </div>
            <div class="top-news-blocks">
                <h3>Lorem ipsum dolor sit amet consectetur.</h3>
                <p>Lorem, ipsum dolor.</p>
            </div>
            <div class="top-news-blocks">
                <h3>Lorem ipsum dolor sit amet consectetur.</h3>
                <p>Lorem, ipsum dolor.</p>
            </div>
            <div class="top-news-blocks">
                <h3>Lorem ipsum dolor sit amet consectetur.</h3>
                <p>Lorem, ipsum dolor.</p>
            </div>
            <div class="top-news-blocks">
                <h3>Lorem ipsum dolor sit amet consectetur.</h3>
                <p>Lorem, ipsum dolor.</p>
            </div>
            <div class="top-news-blocks">
                <h3>Lorem ipsum dolor sit amet consectetur.</h3>
                <p>Lorem, ipsum dolor.</p>
            </div>
        </section>
        <section class="side-cont">

        </section>
    </section>

    <section class="news-section container">
        <h2>Explore</h2>
        <section class="middle-news-section">
            <div class="category-block">
                <h2>Sec Name <span>Read More News >></span></h2>
                <div class="news-blocks">
                    <div class="news-block-content">
                        <img src="images/ext.jpeg" alt="">
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                            <p>Lorem, ipsum dolor.</p>
                            <p>Lorem, ipsum.</p>
                        </div>
                    </div>
                    <div class="news-block-content">
                        <img src="images/ext.jpeg" alt="">
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                            <p>Lorem, ipsum dolor.</p>
                            <p>Lorem, ipsum.</p>
                        </div>
                    </div>
                    <div class="news-block-content">
                        <img src="images/ext.jpeg" alt="">
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                            <p>Lorem, ipsum dolor.</p>
                            <p>Lorem, ipsum.</p>
                        </div>
                    </div>
                    <div class="news-block-content">
                        <img src="images/ext.jpeg" alt="">
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                            <p>Lorem, ipsum dolor.</p>
                            <p>Lorem, ipsum.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- category block -->
            <div class="category-block">
                <h2>Sec Name</h2>
                <div class="news-blocks">
                    <div class="news-block-content">
                        <img src="images/ext.jpeg" alt="">
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                            <p>Lorem, ipsum dolor.</p>
                            <p>Lorem, ipsum.</p>
                        </div>
                    </div>
                    <div class="news-block-content">
                        <img src="images/ext.jpeg" alt="">
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                            <p>Lorem, ipsum dolor.</p>
                            <p>Lorem, ipsum.</p>
                        </div>
                    </div>
                    <div class="news-block-content">
                        <img src="images/ext.jpeg" alt="">
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                            <p>Lorem, ipsum dolor.</p>
                            <p>Lorem, ipsum.</p>
                        </div>
                    </div>
                    <div class="news-block-content">
                        <img src="images/ext.jpeg" alt="">
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                            <p>Lorem, ipsum dolor.</p>
                            <p>Lorem, ipsum.</p>
                        </div>
                    </div> 
                </div>
            </div>

            <!-- category block -->
            <div class="category-block">
                <h2>Sec Name</h2>
                <div class="news-blocks">
                    <div class="news-block-content">
                        <img src="images/ext.jpeg" alt="">
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                            <p>Lorem, ipsum dolor.</p>
                            <p>Lorem, ipsum.</p>
                        </div>
                    </div>
                    <div class="news-block-content">
                        <img src="images/ext.jpeg" alt="">
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                            <p>Lorem, ipsum dolor.</p>
                            <p>Lorem, ipsum.</p>
                        </div>
                    </div>
                    <div class="news-block-content">
                        <img src="images/ext.jpeg" alt="">
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                            <p>Lorem, ipsum dolor.</p>
                            <p>Lorem, ipsum.</p>
                        </div>
                    </div>
                    <div class="news-block-content">
                        <img src="images/ext.jpeg" alt="">
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                            <p>Lorem, ipsum dolor.</p>
                            <p>Lorem, ipsum.</p>
                        </div>
                    </div> 
                </div>
            </div>

            <!-- category block -->
            <div class="category-block">
                <h2>Sec Name</h2>
                <div class="news-blocks">
                    <div class="news-block-content">
                        <img src="images/ext.jpeg" alt="">
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                            <p>Lorem, ipsum dolor.</p>
                            <p>Lorem, ipsum.</p>
                        </div>
                    </div>
                    <div class="news-block-content">
                        <img src="images/ext.jpeg" alt="">
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                            <p>Lorem, ipsum dolor.</p>
                            <p>Lorem, ipsum.</p>
                        </div>
                    </div>
                    <div class="news-block-content">
                        <img src="images/ext.jpeg" alt="">
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                            <p>Lorem, ipsum dolor.</p>
                            <p>Lorem, ipsum.</p>
                        </div>
                    </div>
                    <div class="news-block-content">
                        <img src="images/ext.jpeg" alt="">
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                            <p>Lorem, ipsum dolor.</p>
                            <p>Lorem, ipsum.</p>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
    </section>
</main>
    <!-- <section class="news-sources-sec container">
        <h2>Sources</h2>
        <div class="news-sources-slider">
            <div class="news-source-card">
                <div class="source-name">
                    <h3>The Times of India</h3>
                </div>
                <div class="source-top-news-block">
                    <img src="images/ext.jpeg" alt="">
                    <div class="content">
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                        <p>Lorem, ipsum dolor.</p>
                        <p>Lorem, ipsum.</p>
                    </div>
                </div>
                <div class="source-top-news-block">
                    <img src="images/ext.jpeg" alt="">
                    <div class="content">
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                        <p>Lorem, ipsum dolor.</p>
                        <p>Lorem, ipsum.</p>
                    </div>
                </div>
                <div class="source-top-news-block">
                    <img src="images/ext.jpeg" alt="">
                    <div class="content">
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                        <p>Lorem, ipsum dolor.</p>
                        <p>Lorem, ipsum.</p>
                    </div>
                </div>
                
                <div class="news-src-link">
                    More from >>
                </div>
            </div>
        </div>
    </section>
</main>
-->

<section class="feedback container ">
    <h2>Feedback</h2>
    <div class="feedback-cont">
        <p class="feedback-msg">Your feedback helps us improve our products and services. Please let us know how we can serve you better.</p>
        <form action="/" method="post">
            <label for="feedback-input">Subject: </label>
            <input id="feedback-input" class="feedback-input" type="text" maxlength="200" required>
            <label for="feedback-textarea">Description</label>
            <textarea id="feedback-textarea" class="feedback-textarea" name="Feedback" id="" cols="30" rows="10" maxlength="1000"></textarea>
            <div class="feedback-submit-btn-div">
                <button class="feedback-submit-btn">Submit</button>
            </div>
        </form>
    </div>
</section>


<%- include("partials/footer") -%>